<launch>
        <arg name="model" />
        <param name="robot_description" textfile="$(find tracer_description)/urdf/tracer_mini.urdf" />

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
                <param name="publish_frequency" type="double" value="50.0"/>
                <param name="tf_prefix" value=""/>
        </node>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
                <param name="use_gui" value="false"/>
                <param name="rate" value="50"/>
        
        <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tracer_description)/rviz/model_display.rviz" /> -->
</launch>
